@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model DWM.Models.Repositories.DocInternoViewModel
@{
    ViewBag.Title = new App_Dominio.Security.EmpresaSecurity<App_Dominio.Entidades.SecurityContext>().getEmpresa().nome;
    var path = System.Configuration.ConfigurationManager.AppSettings["Admin_Data"].Replace("~", "");
    var fileName = "../" + path + "/" + Model.arquivo;

    var len = Model.arquivo.Length;
    var arquivo_original = Model.nome + Model.arquivo.Substring(len - 4);

}
@using (Html.BeginForm("Edit", "Documentos", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(info => info.arquivo)
    @Html.HiddenFor(info => info.docId)
    @Html.HiddenFor(info => info.nome_pasta)
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Documentos <small>Upload de arquivo para ser visualizado pelos associados.</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9">
                    <blockquote class="hidden-sm hidden-xs">
                        <p class="hidden-sm hidden-xs">
                            Alteração de Documentos
                        </p> <small class="hidden-sm hidden-xs">Arquivos que serão disponibilizados na página inicial para download. </small>
                    </blockquote>
                    <div class="col-md-12">
                        <div class="form-group" style="margin-top: 20px">
                            @Html.ValidationSummary(false)
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px">
                        @Html.LabelFor(m => m.docFolderId, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownList("docFolderId", new DWM.Models.Enumeracoes.BindDropDownList().Folder("Selecione...", Model.nome_pasta), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px">
                        @Html.LabelFor(m => m.dt_arquivo, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(info => info.dt_arquivo, "DATE", new { identificador = "dt_arquivo", readOnly = "false" })
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px">
                        @Html.LabelFor(m => m.dt_novo, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(info => info.dt_novo, "DATE", new { identificador = "dt_novo", readOnly = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.nome, new { @class = "col-md-2 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.nome, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.descricao, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => m.descricao, 4, 1, new { @class = "form-control input-sm", @maxlength = "255", @onchange = "contaChar();", onkeyup = "contaChar();" })
                            <small class="text-left">Máximo de 255 caracteres</small>
                            <span id="contadorResumo" class="badge pull-right alert-success">@Model.descricao.Length / 255</span>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px">
                        @Html.LabelFor(m => m.ind_enfatizar, new { @class = "col-md-2 control-label" })
                        <div class="col-md-2 col-xs-4 col-sm-4">
                            @Html.DropDownList("ind_enfatizar", App_Dominio.Enumeracoes.DropDownListEnum.SimNao("N"), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.arquivo, new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            <input type="file" name="_arquivo" /><br />
                            <a style="text-decoration: none" class="text-info hidden-sm hidden-xs" href="#"><span style="text-decoration: none" onclick="Show('@fileName', '@Model.nome')">@arquivo_original</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Salvar",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "Documentos",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
                <div class="col-md-offset-4 hidden-sm hidden-xs">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>
}


<div class="modal fade" id="modal-container-964987a" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body Scroll" style="height: 700px">
                <div id="catarina" style="width: 100%; height: 100%">
                    <embed id="fdp">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<a id="linkModal" href="#modal-container-964987a" data-toggle="modal"></a>


<script type="text/javascript">

    function Show(fileName, documento) {
        $("#myModalLabel").text(documento);
        $("#catarina embed").attr("src", fileName + "?ts=" + new Date().getTime());

        if (fileName.toLowerCase().indexOf("pdf") >= 0 || fileName.toLowerCase().indexOf("htm") >= 0 || fileName.toLowerCase().indexOf("txt") >= 0) {
            $("#catarina embed").css("width", "100%");
            $("#catarina embed").css("height", "100%");
            $("#catarina embed").css("position", "relative");
            $("#catarina embed").css("top", "0%");
            $("#catarina embed").css("left", "0%");
            $("#catarina embed").css("margin-top", "10px");
            $("#catarina embed").css("margin-left", "10px");
        }
        else {
            $("#catarina embed").css("width", "auto");
            $("#catarina embed").css("height", "auto");
        }
        $("#linkModal").click();

    }

    function contaChar() {
        var text = $("#descricao").val();
        var count = text.length;
        $("#contadorResumo").text(count + ' / 255');
    }
</script>