@using Sindemed.Models.Repositories
@using App_Dominio.Repositories
@model Sindemed.Models.Repositories.ComunicacaoGrupoViewModel
@{
    ViewBag.Title = "Sindmed";
}
@using (Html.BeginForm("Delete", "ComunicacaoGrupo", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(info => info.grupoAssociadoId)
    @Html.HiddenFor(info => info.comunicacaoId)
    <div id="div-lov"></div>
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Comunicados do Grupo <small>Excluir Vínculo de um comunicado do grupo de associados.</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <p>
                            Excluir Vínculo
                        </p>
                        <small>
                            Para excluir o vínculo entre o comunicado e o grupo, confirme os dados do formulário e clique no botão [Excluir].
                        </small>
                        <small>A partir do momento que o vínculo for cancelado, o comunicado passa a ser visualizado por todos os usuários, a menos que o respectivo comunicado ainda esteja vinculdo a outros grupos.</small>
                        <small>O mesmo comunicado pode pertencer a vários grupos</small>
                        <small>Quando um comunicado geral é vinculado a um grupo, ele deixa de ser "Comunicado geral" e passa a ser um "Comunicado específico" de um ou mais grupos.</small>
                    </blockquote>
                </div>
                <div class="col-md-12">
                    <div class="form-group" style="margin-top: 20px">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="form-group">
                                @Html.Editor("_comunicacaoId", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Comunicado",
                                                           id = "comunicacaoId",
                                                           text = "nome_comunicacao",
                                                           lovModal = "LovComunicacaoModal",
                                                           controller = "ComunicadoGeral",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.comunicacaoId.ToString(),
                                                               Text = Model.cabecalho
                                                           },
                                                           disableButtons = true,
                                                           nextField = "_grupoAssociadoId"
                                                       }
                                               })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="form-group">
                                @Html.Editor("_grupoAssociadoId", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Grupo",
                                                           id = "grupoAssociadoId",
                                                           text = "nome_grupoAssociado",
                                                           lovModal = "LovGrupoAssociadoModal",
                                                           controller = "GrupoAssociado",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.grupoAssociadoId.ToString(),
                                                               Text = Model.descricao
                                                           },
                                                           disableButtons = true,
                                                           nextField = ""
                                                       }
                                               })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Excluir",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "ComunicacaoGrupo",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
            </div>
        </div>
    </div>
}


