@using Sindemed.Models.Repositories
@using Sindemed.Models.Entidades
@using App_Dominio.Repositories
@using Sindemed.Models.Enumeracoes
@model Sindemed.Models.Repositories.ChamadoViewModel
@{
    ViewBag.Title = "Sindmed";

}
@using (Html.BeginForm("Create", "Chamado", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(info => info.dt_chamado)
    @Html.HiddenFor(info => info.situacao)
    @Html.HiddenFor(info => info.associadoId)
    @Html.HiddenFor(info => info.nome_associado)
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Chamado <small>Abrir chamado à administração</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <p>
                            Inclusão de Chamado
                        </p> <small>Abertura de chamado pelo associado. Ao abrir um chamado, sua solicitação será encaminhada para atendimento. Preencher os campos abaixo e depois clicar no botão "Salvar"</small>
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" style="margin-top: 20px">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.assunto, "Assunto *", new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            <div class="input-group col-md-10">
                                @Html.TextBoxFor(m => m.assunto, new { @class = "form-control input-sm", @placeholder = "descrição" })<br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.areaAtendimentoId, "Área de atendimento *", new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            <div class="input-group col-md-4">
                                @Html.DropDownListFor(m => m.areaAtendimentoId, new BindDropDownList().AreaAtendimento("-1"), new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.mensagemOriginal, "Mensagem *", new { @class = "col-md-2 control-label" })
                        <div class="col-md-8">
                            <div class="input-group col-md-10">
                                @Html.TextAreaFor(m => m.mensagemOriginal, 6, 1, htmlAttributes: new { @class = "form-control input-sm", @placehoder = "Digite aqui sua solicitação" })<br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Salvar",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "Chamado",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
                <div class="col-md-offset-4">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>
}

