@using DWM.Models.Repositories
@using DWM.Models.Entidades
@using App_Dominio.Repositories
@using DWM.Models.Enumeracoes
@model DWM.Models.Repositories.ChamadoViewModel
@{
    ViewBag.Title = new App_Dominio.Security.EmpresaSecurity<App_Dominio.Entidades.SecurityContext>().getEmpresa().nome;

}
@using (Html.BeginForm("Create", "Chamado", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(info => info.dt_chamado)
    @Html.HiddenFor(info => info.situacao)
    @Html.HiddenFor(info => info.associadoId)
    @Html.HiddenFor(info => info.nome_associado)
    <div class="panel panel-primary" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Chamado <small class="text-white">Abrir chamado à administração</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <p>
                            Inclusão de Chamado
                        </p> <small class="text-dark">Abertura de chamado pelo associado. Ao abrir um chamado, sua solicitação será encaminhada para atendimento. Preencher os campos abaixo e depois clicar no botão "Salvar"</small>
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="form-group" style="margin-top: 20px">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.assunto, "Assunto *", new { @class = "col-md-2 col-xs-12 col-sm-2 control-label" })
                        <div class="col-md-8 col-xs-8 col-sm-8">
                            @Html.TextBoxFor(m => m.assunto, new { @class = "form-control input-sm", @placeholder = "descrição" })<br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.areaAtendimentoId, "Área de atendimento *", new { @class = "col-md-2 col-xs-12 col-sm-2 control-label" })
                        <div class="col-md-4 col-xs-8 col-sm-4">
                            @Html.DropDownListFor(m => m.areaAtendimentoId, new BindDropDownList().AreaAtendimento("Selecione...", ""), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.chamadoMotivoId, new { @class = "col-md-2 col-xs-12 col-sm-2 control-label" })
                        <div class="col-md-4 col-xs-8 col-sm-4">
                            @Html.DropDownListFor(m => m.chamadoMotivoId, new BindDropDownList().ChamadoMotivo("Selecione...", Model.chamadoMotivoId.ToString()), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.mensagemOriginal, "Mensagem *", new { @class = "col-md-2 col-xs-12 col-sm-2 control-label" })
                        <div class="col-md-10 col-xs-10 col-sm-10">
                            <textarea name="mensagemOriginal" rows="5" class="form-control input-sm"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Salvar",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "Chamado",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
                <div class="col-md-offset-4 hidden-xs">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>
}

