@using DWM.Models.Repositories
@using DWM.Models.Entidades
@using DWM.Models.Enumeracoes
@model DWM.Models.Repositories.AtendimentoViewModel
@{
    App_Dominio.Security.EmpresaSecurity<App_Dominio.Entidades.SecurityContext> security = new App_Dominio.Security.EmpresaSecurity<App_Dominio.Entidades.SecurityContext>();
    App_Dominio.Entidades.Sessao sessaoCorrente = security.getSessaoCorrente();
    ViewBag.Title = security.getEmpresa().nome;
    System.Web.HttpContext web = System.Web.HttpContext.Current;
}
@Html.HiddenFor(info => info.fluxo)
@Html.HiddenFor(info => info.chamadoId)
@Html.HiddenFor(info => info.chamado.mensagemOriginal)
@Html.HiddenFor(info => info.chamado.assunto)
<div class="list-group">
    <a href="#" class="list-group-item-success active">
        <h3 class="text-primary">Nº Protocolo: @Model.chamadoId</h3>
    </a>
    <div class="list-group-item">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.chamado.nome_associado, new { @class = "col-md-2 col-xs-12 col-sm-2 control-label" })
                    <div class="col-md-7 col-xs-7 col-sm-7" style="margin-top: 7px">
                        @if (sessaoCorrente.value1 == "0")
                        {
                            @Html.ActionLink(Model.chamado.nome_associado, "Edit", "Associado", routeValues: new { associadoId = Model.chamado.associadoId }, htmlAttributes: new { @style = "text-decoration: none; color: #fff; font-weight: bold", @class = "label label-info" })
                        }
                        else
                        {
                            @Html.ActionLink(Model.chamado.nome_associado, "Edit", "Associado", routeValues: null, htmlAttributes: new { @style = "text-decoration: none; color: #fff; font-weight: bold", @class = "label label-info" })
                        }
                    </div>
                    <div class="col-md-3 col-xs-3" style="margin-top: 3px">
                        @if (Model.chamado.situacao == "F")
                        {
                            <span class="label label-success">FECHADO</span>
                        }
                        else
                        {
                            <span class="label label-default">ABERTO</span>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.chamado.assunto, new { @class = "col-md-2 col-xs-12 col-sm-2 control-label" })
                    <div class="col-md-8 col-xs-8 col-sm-8">
                        @Html.TextBoxFor(m => m.chamado.assunto, new { @class = "form-control input-sm", @disabled = "disable" })<br />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.chamado.areaAtendimentoId, new { @class = "col-md-4 col-xs-12 col-sm-4 control-label" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.chamado.areaAtendimentoId, new BindDropDownList().AreaAtendimento("Selecione...", Model.chamado.areaAtendimentoId.ToString()), new { @class = "form-control input-sm", @disabled = "disable" })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.chamado.chamadoStatusId, new { @class = "col-md-2 col-xs-12 col-sm-2 control-label" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.chamado.chamadoStatusId, new BindDropDownList().ChamadoStatus("Selecione...", Model.chamado.chamadoStatusId.ToString()), new { @class = "form-control input-sm", @disabled = "disable" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.chamado.chamadoMotivoId, new { @class = "col-md-2 col-xs-12 col-sm-2 control-label" })
                    <div class="col-md-4 col-xs-6 col-sm-4">
                        @Html.DropDownListFor(m => m.chamado.chamadoMotivoId, new BindDropDownList().ChamadoMotivo("Selecione...", Model.chamado.chamadoMotivoId.ToString()), new { @class = "form-control input-sm", @disabled = "disable" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-info" style="margin-top: 20px">
        <h3 class="text-primary">Atendimento</h3>
    </div>
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="@Model.chamado.avatar" style="width: 54px; height: 54px" alt="...">
            </a>
            <div class="media-body">
                <p class="media-heading">
                    <strong>@Model.chamado.nome_associado</strong>
                </p>
                <p class="text-info">@Model.chamado.dt_chamado.ToString("dd/MM/yyyy HH:mm")h</p>
                <p class="text-enfatico">@Html.DisplayTextFor(info => info.chamado.mensagemOriginal)</p>
            </div>
            <hr />
        </li>
        @{
            var path = System.Configuration.ConfigurationManager.AppSettings["Users_Data"].Replace("~", "");
            string avatar = "";
            foreach (AtendimentoViewModel value in Model.atendimentos)
            {
                avatar = System.Configuration.ConfigurationManager.AppSettings["Avatar_Anonymous"];
                if (value.fluxo == "1")
                {
                    avatar = Model.chamado.avatar ?? avatar ;
                }
                else
                {
                    avatar = System.Configuration.ConfigurationManager.AppSettings["Avatar_Admin"];
                }
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="@avatar" style="width: 54px; height: 54px" alt="...">
                    </a>
                    <div class="media-body">
                        <p class="media-heading">
                            @if (value.fluxo == "1") // Associado/Sindmep
                            {
                                <strong>@Model.chamado.nome_associado</strong>
                            }
                            else
                            {
                                <strong>Administração</strong>
                            }
                        </p>
                        <p class="text-info">@value.dt_atendimento.ToString("dd/MM/yyyy HH:mm")h</p>
                        <p class="text-dark">@Html.DisplayTextFor(info => value.mensagemResposta)</p>
                        @if (value.anexo != null)
                        {
                            var fileName = "../" + path + "/" + value.anexo.fileId;
                            <a style="text-decoration: none; color: #646464;" href="@fileName" download="@value.anexo.nomeArquivoOriginal">
                                <img src="http://cdns2.freepik.com/fotos-gratis/forma-de-papel-clipe-de-variante_318-50672.jpg" alt="" style="height: 20px; width: 20px;" />
                                <span class="text-primary" style="text-decoration: none; cursor: pointer"><strong>@value.anexo.nomeArquivoOriginal</strong></span>
                            </a>
                            if (".htm|.txt|.html|.pdf|.png|.jpg|.bmp|.gif".Contains(new FileInfo(Path.Combine(web.Server.MapPath(System.Configuration.ConfigurationManager.AppSettings["Users_Data"]), value.anexo.fileId)).Extension.ToLower()))
                            {
                                <button class="btn btn-sm" type="button">
                                    <a style="text-decoration: none;" href="#"><span class="text-dark" style="text-decoration: none; cursor: pointer" onclick="Show('@fileName', '@value.anexo.nomeArquivoOriginal')"><strong>Visualizar</strong></span></a>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-sm" type="button">
                                    <span class="text-danger" style="text-decoration: none; cursor: text"><strong>Visualizar</strong></span>
                                </button>
                            }
                        }
                    </div>
                    <hr />
                </li>
            }
        }
    </ul>

    @if (ViewBag.ind_resposta == "S")
    {
        <div class="list-group">
            <div class="list-group-item-success">
                @if (Model.fluxo == "1")
                {
                    <h4 class="text-primary"><strong>@Model.chamado.nome_associado</strong></h4>
                }
                else
                {
                    <h4 class="text-primary"><strong>Administração</strong></h4>
                }
                
            </div>
            <div class="list-group-item-success" style="padding-top: 20px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.mensagemResposta, "Resposta *", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                <textarea name="mensagemResposta" rows="5" class="form-control input-sm"></textarea>
                                @if (Model.fluxo == "2")
                                {
                                    <div class="col-md-9">
                                        @Html.CheckBox("situacao", false)<span> Fechar chamado</span>
                                    </div>
                                    
                                }
                            </div>
                        </div>
                        @if (Model.fluxo == "2")
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.chamado.chamadoStatusId, "Status *", new { @class = "col-md-4 control-label" })
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(info => info.chamado.chamadoStatusId, new DWM.Models.Enumeracoes.BindDropDownList().ChamadoStatus("Selecione...", (Model != null ? Model.chamado.chamadoStatusId.ToString() : "")), new { @class = "form-control input-sm" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(info => info.chamado.chamadoStatusId)
                        }
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.anexo.tipoDocumentoId, "Tipo do Anexo", new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(info => info.anexo.tipoDocumentoId, new DWM.Models.Enumeracoes.BindDropDownList().TipoDocumento("Selecione...", (Model != null ? Model.anexo.tipoDocumentoId.ToString() : "")), new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.anexo.nomeArquivoOriginal, new { @class = "col-md-2 control-label" })
                            <div class="col-md-8">
                                <input type="file" name="nomeArquivoOriginal" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="modal-container-964987f" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body Scroll" style="height: 700px">
                <div id="catarina" style="width: 100%; height: 100%">
                    <embed id="fdp">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<a id="linkModal" href="#modal-container-964987f" data-toggle="modal"></a>


<script type="text/javascript">

    function Show(fileName, documento) {
        $("#myModalLabel").text(documento);
        $("#catarina embed").attr("src", fileName + "?ts=" + new Date().getTime());

        if (fileName.toLowerCase().indexOf("pdf") >= 0 || fileName.toLowerCase().indexOf("htm") >= 0 || fileName.toLowerCase().indexOf("txt") >= 0) {
            $("#catarina embed").css("width", "100%");
            $("#catarina embed").css("height", "100%");
            $("#catarina embed").css("position", "relative");
            $("#catarina embed").css("top", "0%");
            $("#catarina embed").css("left", "0%");
            $("#catarina embed").css("margin-top", "10px");
            $("#catarina embed").css("margin-left", "10px");
        }
        else {
            $("#catarina embed").css("width", "auto");
            $("#catarina embed").css("height", "auto");
        }
        $("#linkModal").click();

    }

</script>




