@using Sindemed.Models.Repositories
@using App_Dominio.Repositories
@using Sindemed.Models.Enumeracoes
@using App_Dominio.Enumeracoes
@*@model System.Web.Mvc.PagedList<Sindemed.Models.Repositories.ChamadoViewModel>*@
@{
    ViewBag.Title = "Sindmed";
    ViewBag.Header = "Atendimento";
}
@using (Ajax.BeginForm(null,null, null, new AjaxOptions { HttpMethod = "get" }, new { @class = "form-horizontal", @role = "search" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                Atendimento <small>Listagem dos chamados</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row ">
                <div class="col-md-6">
                    <div class="form-group col-md-12">
                        @Html.Label("ID", new { @class = "col-md-2 control-label" })
                        <div class="input-group col-md-2">
                            @Html.TextBox("chamadoId", "", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group col-md-12">
                        @Html.Editor("_associadoId", "TYPEAHEAD", new
                                                               {
                                                                   typeahead = new TypeaheadRepository()
                                                                       {
                                                                           label = "Associado",
                                                                           id = "associadoId",
                                                                           text = "nome_associado",
                                                                           lovModal = "LovMedicoModal",
                                                                           controller = "Associado",
                                                                           descricao = "nome_associado",
                                                                           values = new SelectListItem()
                                                                           {
                                                                               Value = "",
                                                                               Text = ""
                                                                           },
                                                                           disableButtons = false,
                                                                           nextField = ""
                                                                       }
                                                               })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group col-md-12">
                        @Html.Label("Início", new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            <div class="input-group">
                                @Html.Editor("data1", "DATE", new { identificador = "data1", readOnly = "false", value = (DateTime.Today.ToString("yyyy-MM") + "-01") })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group col-md-12">
                        @Html.Label("Fim", new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            <div class="input-group">
                                @Html.Editor("data2", "DATE", new { identificador = "data2", readOnly = "false", value = DateTime.Today })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-6">
                    <div class="form-group col-md-12">
                        @Html.Label("Área", new { @class = "col-md-2 control-label" })
                        <div>
                            <div class="input-group col-md-6">
                                @Html.DropDownList("areaAtendimentoId", new BindDropDownList().AreaAtendimento("Todas...", "", ""), new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group col-md-12">
                        @Html.Label("Situação", new { @class = "col-md-3 control-label" })
                        <div class="col-md-8">
                            <div class="input-group">
                                @Html.DropDownList("situacao", DropDownListEnum.AbertoFechado("", "Todas..."), new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="div-list">
                        @*@Html.Partial("List", Model)*@
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-lg-offset-11">
                <button type="button" class="btn btn-default" onclick="Refresh(0, getPageSize(), 'ListChamados', 'div-list')">Buscar</button>
            </div>
        </div>
   </div>
}

    <script type="text/javascript">
        $("#chamadoId").mask("?9999999");
    </script>


