@using DWM.Models.Repositories
@using App_Dominio.Repositories
@using DWM.Models.Enumeracoes
@using App_Dominio.Enumeracoes
@*@model System.Web.Mvc.PagedList<DWM.Models.Repositories.ChamadoViewModel>*@
@{
    ViewBag.Title = new App_Dominio.Security.EmpresaSecurity<App_Dominio.Entidades.SecurityContext>().getEmpresa().nome;
    ViewBag.Header = "Atendimento";
}
@using (Ajax.BeginForm(null,null, null, new AjaxOptions { HttpMethod = "get" }, new { @class = "form-horizontal", @role = "search" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">
                Atendimento - <small class="text-white">Listagem dos chamados</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row ">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("ID", new { @class = "col-md-2 control-label" })
                        <div class="col-md-2">
                            @Html.TextBox("chamadoId", "", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Especialidade", new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownList("especialidadeId", new BindDropDownList().Especialidade("Todas...", ""), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Início", new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.Editor("data1", "DATE", new { identificador = "data1", readOnly = "false", value = DateTime.Parse(DateTime.Today.ToString("yyyy-MM") + "-01") })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Fim", new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.Editor("data2", "DATE", new { identificador = "data2", readOnly = "false", value = DateTime.Today })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Área", new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownList("areaAtendimentoId", new BindDropDownList().AreaAtendimento("Todas...", "", ""), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Situação", new { @class = "col-md-3 control-label" })
                        <div class="col-md-8">
                            @Html.DropDownList("situacao", DropDownListEnum.AbertoFechado("", "Todas..."), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Status", new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownList("chamadoStatusId", new DWM.Models.Enumeracoes.BindDropDownList().ChamadoStatus("Todos...", ""), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Motivo", new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownList("chamadoMotivoId", new DWM.Models.Enumeracoes.BindDropDownList().ChamadoMotivo("Todos...", ""), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="div-list">
                        @*@Html.Partial("List", Model)*@
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-lg-offset-11">
                <button type="button" class="btn btn-default" onclick="Refresh(0, getPageSize(), 'ListChamados', 'div-list')">Buscar</button>
            </div>
        </div>
   </div>
}

    <script type="text/javascript">
        $("#chamadoId").mask("?9999999");
    </script>


