    @model System.Web.Mvc.PagedList<DWM.Models.Repositories.ChamadoViewModel>
@{
    Layout = null;
}
@if (Model != null)
{
    <div class="row" style="height: 394px; overflow-y: auto">
        <div class="col-md-12 column">
            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer; padding: 0px">
                <caption></caption>
                <thead style="background-color: #fff1a5">
                    <tr>
                        <th class="text-center">Ação</th>
                        <th class="text-center hidden-xs">Data</th>
                        <th class="text-left hidden-xs">Chamado</th>
                        <th class="text-left">Detalhe</th>
                    </tr>
                </thead>
                @foreach (DWM.Models.Repositories.ChamadoViewModel cham in Model)
                {
                    <tr>
                        <td class="col-md-2 hidden-xs col-sm-2">
                            <div class="col-md-6 col-xs-12 col-sm-6 text-center">
                                @if (cham.situacao == "A")
                                {
                                    <button type="button" class="btn btn-info btn-xs" onclick="window.location='Create?chamadoId=@cham.chamadoId&fluxo=2'">Responder</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-info btn-xs disabled">Responder</button>
                                }
                            </div>
                            <div class="col-md-6 col-xs-12 col-sm-6 text-center">
                                <button type="button" class="btn btn-danger btn-xs" onclick="window.location='Atendimento/Detail?chamadoId=@cham.chamadoId&fluxo=2'">Detalhar</button>
                            </div>
                        </td>
                        <td class="col-xs-4 hidden-lg hidden-md hidden-sm">
                            <div class="col-md-6 col-xs-12 col-sm-6 text-center">
                                @if (cham.situacao == "A")
                                {
                                    <button type="button" class="btn btn-info btn-xs col-xs-11 col-md-12 col-sm-12 col-lg-12" onclick="window.location='Create?chamadoId=@cham.chamadoId&fluxo=2'">Responder</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-info btn-xs col-xs-11 col-md-12 col-sm-12 col-lg-12 disabled">Responder</button>
                                }
                            </div>
                            <div class="col-md-6 col-xs-12 col-sm-6 text-center">
                                <button type="button" style="margin-top: 20px" class="btn btn-danger btn-xs col-xs-11 col-md-12 col-sm-12" onclick="window.location='Atendimento/Detail?chamadoId=@cham.chamadoId&fluxo=2'">Detalhar</button>
                            </div>
                        </td>
                        <td class="col-md-2 hidden-xs col-sm-2 text-center">
                            @cham.dt_chamado.ToString("dd/MM/yyyy HH:mm")
                        </td>
                        <td class="col-md-4 hidden-xs col-sm-4">
                            <small>@cham.assunto</small><br />
                            <small>@cham.nome_associado</small>
                        </td>
                        <td class="col-md-4 hidden-xs col-sm-4">
                            <strong class="text-enfatico">Nº Protocolo: @cham.chamadoId</strong><br />
                            <small><strong>Motivo: </strong>@cham.descricao_motivo</small><br />
                            <small>@cham.descricao_status</small><br />
                        </td>
                        <td class="col-xs-8 hidden-md hidden-sm hidden-lg">
                            <strong class="text-enfatico">Nº Protocolo: @cham.chamadoId</strong><br />
                            <small class="text-danger">@cham.dt_chamado.ToString("dd/MM/yyyy HH:mm")</small><br />
                            <small>@cham.nome_associado</small><br />
                            <small>@cham.assunto</small><br />                            
                            <small><strong>Motivo: </strong>@cham.descricao_motivo</small><br />
                            <small>@cham.descricao_status</small>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @Html.Partial("Paginacao", Model)
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}
