@using Sindemed.Models.Repositories
@using App_Dominio.Repositories
@model Sindemed.Models.Repositories.AreaAtendimentoViewModel
@{
    ViewBag.Title = "Sindmed";
}
@using (Html.BeginForm("Delete", "AreaAtendimento", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(info => info.areaAtendimentoId)
    @Html.HiddenFor(info => info.descricao)
    @Html.HiddenFor(info => info.usuario1Id)
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Área de Atendimento  <small>Determina os setores ou departamentos dentro da administração onde o associado poderá abrir um chamado.</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <p>
                            Inclusão de Área de Atendimento
                        </p> <small>Atenção ! Não será permitido excluir uma área de atendimento se houverem chamados vinculados a ela.</small>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group" style="margin-top: 20px">
                    @Html.ValidationSummary(false)
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        @Html.LabelFor(m => m.descricao, new { @class = "col-md-3 control-label" })
                        <div class="col-md-8">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.descricao, new { @class = "form-control input-sm", @placeholder = "Nome da área de atendimento", @style = "width: 150%", @disabled = "disabel" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Editor("_usuario1ID", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Atendente 1",
                                                           id = "usuario1Id",
                                                           text = "nome_usuario",
                                                           lovModal = "LovUsuarioModal",
                                                           controller = "usuario",
                                                           descricao = "nome",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.usuario1Id != null ? Model.usuario1Id.ToString() : "",
                                                               Text = Model.nome_usuario1 != null ? Model.nome_usuario1.ToString() : ""
                                                           },
                                                           disableButtons = true,
                                                           nextField = "usuario2Id"
                                                       }
                                               })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        @Html.Editor("_usuario2ID", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Atendente 2",
                                                           id = "usuario2Id",
                                                           text = "nome_usuario2",
                                                           lovModal = "LovUsuario2Modal",
                                                           controller = "Usuario",
                                                           descricao = "nome",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.usuario2Id != null ? Model.usuario2Id.ToString() : "",
                                                               Text = Model.nome_usuario2 != null ? Model.nome_usuario2.ToString() : ""
                                                           },
                                                           disableButtons = true,
                                                           nextField = "codigo"
                                                       }
                                               })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.codigo, new { @class = "col-md-3 control-label" })
                        <div class="col-lg-2">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.codigo, new { @class = "form-control input-sm", @disabled = "disabel" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Excluir",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "AreaAtendimento",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
                <div class="col-md-offset-4">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>      
}


