@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model DWM.Models.Repositories.AssociadoViewModel
@{
    ViewBag.Title = new App_Dominio.Security.EmpresaSecurity<App_Dominio.Entidades.SecurityContext>().getEmpresa().nome;
}
@using (Html.BeginForm("Edit", "Associado", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(info => info.associadoId)
    @Html.HiddenFor(info => info.nome)
    @Html.HiddenFor(info => info.situacao)
    @Html.HiddenFor(info => info.sexo)
    @Html.HiddenFor(info => info.cidadeId)
    @Html.HiddenFor(info => info.cidadeComId)
    @Html.HiddenFor(info => info.correioId)
    @Html.HiddenFor(info => info.areaAtuacao1Id)
    @Html.HiddenFor(info => info.areaAtuacao2Id)
    @Html.HiddenFor(info => info.areaAtuacao3Id)
    @Html.HiddenFor(info => info.email1)
    @Html.HiddenFor(info => info.usuarioId)
    
    <div id="div-lov"></div>
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Associados <small>Acesso administrativo</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <p>
                            Edição de Associados
                        </p> <small>Alteração de associados do sindicato. Preencher os campos nas abas abaixo e depois clicar no botão "Salvar"</small>
                    </blockquote>
                </div>
                <div class="col-md-12">
                    <div class="form-group" style="margin-top: 20px">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li><a href="#identificacao" data-toggle="tab" id="_identificacao">Identificação</a></li>
                        <li><a href="#end_res" data-toggle="tab">Endereço Residencial</a></li>
                        <li><a href="#end_com" data-toggle="tab">Endereço Comercial</a></li>
                        <li><a href="#dados_prof" data-toggle="tab">Dados Profissionais</a></li>
                        <li><a href="#obs" data-toggle="tab">Observação</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="identificacao">
                            <div class="row" style="margin-top: 35px">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.nome, "Nome *", new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.nome, new { @class = "form-control input-sm", @Style = "width: 180%; text-transform: uppercase;", @maxlength = "40", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.cpf, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.cpf, new { @class = "form-control input-sm", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.CRM, "CRM *", new { @class = "col-md-3 control-label" })
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.CRM, new { @class = "form-control input-sm", @maxlength = "5", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ufCRM, "UF *", new { @class = "col-md-3 control-label" })
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.ufCRM, new { @class = "form-control input-sm", @style = "text-transform: uppercase", @maxlength = "2", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.CRM_Seg, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.CRM_Seg, new { @class = "form-control input-sm", @maxlength = "5", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ufCRM_Seg, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.ufCRM_Seg, new { @class = "form-control input-sm", @style = "text-transform: uppercase", @maxlength = "2", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.dt_nascimento, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(info => info.dt_nascimento, "DATE", new { identificador = "dt_nascimento", readOnly = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.rg, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.rg, new { @class = "form-control input-sm", @maxlength = "10", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.orgaoEmissor, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.orgaoEmissor, new { @class = "form-control input-sm", @maxlength = "15", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.sexo, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.DropDownListFor(m => m.sexo, App_Dominio.Enumeracoes.DropDownListEnum.Sexo(), new { @class = "form-control input-sm", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.isSindicalizado, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.DropDownListFor(m => m.isSindicalizado, App_Dominio.Enumeracoes.DropDownListEnum.SimNao(), new { @class = "form-control input-sm", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.dt_admin_sindicato, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(info => info.dt_admin_sindicato, "DATE", new { identificador = "dt_admin_sindicato", readOnly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.email1, "E-mail *", new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.email1, new { @class = "form-control input-sm", @style = "width: 180%; text-transform: lowercase;", @maxlength = "100", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            @Html.Editor("_correioId", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Motivo Correio",
                                                           id = "correioId",
                                                           text = "descricao_correio",
                                                           lovModal = "LovNaoLocalizadoCorreioModal",
                                                           controller = "NaoLocalizadoCorreio",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.correioId.ToString(),
                                                               Text = Model.nome_correio
                                                           },
                                                           disableButtons = true,
                                                           nextField = "endereco"
                                                       }
                                               })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.situacao, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.DropDownListFor(m => m.situacao, App_Dominio.Enumeracoes.DropDownListEnum.Situacao(), new { @class = "form-control input-sm", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Editor("_usuarioID", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Usuário",
                                                           id = "usuarioId",
                                                           text = "nome_usuario",
                                                           lovModal = "LovUsuarioModal",
                                                           controller = "usuario",
                                                           descricao = "nome",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.usuarioId != null ? Model.usuarioId.ToString() : "",
                                                               Text = Model.nome_usuario != null ? Model.nome_usuario.ToString() : ""
                                                           },
                                                           disableButtons = true,
                                                           nextField = "endereco"
                                                       }
                                               })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="end_res">
                            <div class="row" style="margin-top: 35px">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.endereco, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.endereco, new { @class = "form-control input-sm", @placeholder = "Endereço residencial", @Style = "width: 180%", @maxlength = "50", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.complementoEnd, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.complementoEnd, new { @class = "form-control input-sm", @style = "width: 180%", @maxlength = "40", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Editor("_cidadeId", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Cidade",
                                                           id = "cidadeId",
                                                           text = "nome_cidade",
                                                           lovModal = "LovCidadeModal",
                                                           controller = "cidade",
                                                           descricao = "nome",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.cidadeId.ToString(),
                                                               Text = Model.nome_cidade
                                                           },
                                                           disableButtons = true,
                                                           nextField = "uf"
                                                       }
                                               })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.uf, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.uf, new { @class = "form-control input-sm", @style = "text-transform: uppercase", @maxlength = "2", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.cep, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.cep, new { @class = "form-control input-sm", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.bairro, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.bairro, new { @class = "form-control input-sm", @maxlength = "25", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.telParticular1, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.telParticular1, new { @class = "form-control input-sm", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.telParticular2, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.telParticular2, new { @class = "form-control input-sm", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.telParticular3, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.telParticular3, new { @class = "form-control input-sm", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.telParticular4, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.telParticular4, new { @class = "form-control input-sm", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="end_com">
                            <div class="row" style="margin-top: 35px">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.enderecoCom, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.enderecoCom, new { @class = "form-control input-sm", @placeholder = "Endereço comercial", @Style = "width: 180%", @maxlength = "50", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.complementoEndCom, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.complementoEndCom, new { @class = "form-control input-sm", @style = "width: 180%", @maxlength = "40", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Editor("_cidadeComId", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Cidade",
                                                           id = "cidadeComId",
                                                           text = "nome_cidadeCom",
                                                           lovModal = "LovCidadeComModal",
                                                           controller = "cidade",
                                                           descricao = "nome",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.cidadeComId.ToString(),
                                                               Text = Model.nome_cidadeCom
                                                           },
                                                           disableButtons = true,
                                                           nextField = "ufCom"
                                                       }
                                               })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ufCom, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.ufCom, new { @class = "form-control input-sm", @style = "text-transform: uppercase", @maxlength = "2", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.cepCom, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.cepCom, new { @class = "form-control input-sm", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.bairroCom, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.bairroCom, new { @class = "form-control input-sm", @maxlength = "25", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.telCom1, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.telCom1, new { @class = "form-control input-sm", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.telCom2, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.telCom2, new { @class = "form-control input-sm", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.fax, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.fax, new { @class = "form-control input-sm", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="dados_prof">
                            <div class="row" style="margin-top: 35px">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Editor("_areaAtuacao1Id", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Atuação",
                                                           id = "areaAtuacao1Id",
                                                           text = "descricao_areaAtuacao1",
                                                           lovModal = "LovAreaAtuacao1Modal",
                                                           controller = "AreaAtuacao",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.areaAtuacao1Id.ToString(),
                                                               Text = Model.descricao_areaAtuacao1
                                                           },
                                                           disableButtons = true,
                                                           nextField = "areaAtuacao2Id"
                                                       }
                                               })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Editor("_areaAtuacao2Id", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Atuação",
                                                           id = "areaAtuacao2Id",
                                                           text = "descricao_areaAtuacao2",
                                                           lovModal = "LovAreaAtuacao2Modal",
                                                           controller = "AreaAtuacao",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.areaAtuacao2Id.ToString(),
                                                               Text = Model.descricao_areaAtuacao2
                                                           },
                                                           disableButtons = true,
                                                           nextField = "areaAtuacao3Id"
                                                       }
                                               })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Editor("_areaAtuacao3Id", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Atuação",
                                                           id = "areaAtuacao3Id",
                                                           text = "descricao_areaAtuacao3",
                                                           lovModal = "LovAreaAtuacao3Modal",
                                                           controller = "AreaAtuacao",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.areaAtuacao3Id.ToString(),
                                                               Text = Model.descricao_areaAtuacao3
                                                           },
                                                           disableButtons = true,
                                                           nextField = "especialidade1Id"
                                                       }
                                               })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Editor("_especialidade1Id", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Especialidade *",
                                                           id = "especialidade1Id",
                                                           text = "descricao_especialidade1",
                                                           lovModal = "LovEspecialidadeMedica1Modal",
                                                           controller = "Especialidade",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.especialidade1Id.ToString(),
                                                               Text = Model.nome_especialidade1
                                                           },
                                                           disableButtons = true,
                                                           nextField = "especialidade2Id"
                                                       }
                                               })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Editor("_especialidade2Id", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Especialidade",
                                                           id = "especialidade2Id",
                                                           text = "descricao_especialidade2",
                                                           lovModal = "LovEspecialidadeMedica2Modal",
                                                           controller = "Especialidade",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.especialidade2Id.ToString(),
                                                               Text = Model.nome_especialidade2
                                                           },
                                                           disableButtons = true,
                                                           nextField = "especialidade3Id"
                                                       }
                                               })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Editor("_especialidade3Id", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Especialidade",
                                                           id = "especialidade3Id",
                                                           text = "descricao_especialidade3",
                                                           lovModal = "LovEspecialidadeMedica3Modal",
                                                           controller = "Especialidade",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.especialidade3Id.ToString(),
                                                               Text = Model.nome_especialidade3
                                                           },
                                                           disableButtons = true,
                                                           nextField = "email2"
                                                       }
                                               })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.email2, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.email2, new { @class = "form-control input-sm", @style = "width: 180%; text-transform: lowercase;", @maxlength = "100", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.email3, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.email3, new { @class = "form-control input-sm", @style = "width: 180%; text-transform: lowercase;", @maxlength = "100", @disabled = "disable" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="obs">
                            <div class="row" style="margin-top: 35px">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <div class="input-group col-md-12">
                                                @Html.LabelFor(info => info.observacao)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <div class="input-group col-md-12">
                                                <div class="well well-lg" >
                                                    @Html.DisplayTextFor(m => m.observacao)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Excluir",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "Associado",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
                <div class="col-md-offset-4">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    document.getElementById("_identificacao").click();

    $("#CRM_Seg").mask("?99999");
    $("#CRM").mask("?99999");
    $("#cpf").mask("999.999.999-99");
    $("#cep").mask("99999-999");
    $("#cepCom").mask("99999-999");
    $("#telParticular1").mask("99 9999-9999");
    $("#telParticular2").mask("99 9999-9999");
    $("#telParticular3").mask("99 9999-9999");
    $("#telParticular4").mask("99 9999-9999");
    $("#telCom1").mask("99 9999-9999");
    $("#telCom2").mask("99 9999-9999");
    $("#fax").mask("99 9999-9999");

</script>


