@using Sindemed.Models.Repositories
@using App_Dominio.Repositories
@model Sindemed.Models.Repositories.MedicoViewModel
@{
    ViewBag.Title = "PARC PARADISO";
}
@using (Html.BeginForm("Edit", "Associado", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(info => info.associadoId)
    <div id="div-lov"></div>
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Moradores <small>Acesso administrativo</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <p>
                            Edição de Moradores
                        </p> <small>Alteração de moradores do Parc Paradiso. Preencher os campos nas abas abaixo e depois clicar no botão "Salvar"</small>
                    </blockquote>
                </div>
                <div class="col-md-12">
                    <div class="form-group" style="margin-top: 20px">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li><a href="#identificacao" data-toggle="tab" id="_identificacao">Identificação</a></li>
                        <li><a href="#end_res" data-toggle="tab">Telefones</a></li>
                        <li><a href="#end_com" data-toggle="tab">Endereço Comercial</a></li>
                        <li><a href="#dados_prof" data-toggle="tab">Dados Profissionais</a></li>
                        <li><a href="#depend" data-toggle="tab">Dependentes</a></li>
                        <li><a href="#veic" data-toggle="tab">Veículos</a></li>
                        <li><a href="#finan" data-toggle="tab">Financeiro</a></li>
                        <li><a href="#obs" data-toggle="tab">Observação</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="identificacao">
                            <div class="row" style="margin-top: 35px">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.nome, "Nome *", new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.nome, new { @class = "form-control input-sm", @Style = "width: 180%; text-transform: uppercase;", @maxlength = "40" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.cpf, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.cpf, new { @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.torre, "Torre *", new { @class = "col-md-3 control-label" })
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                @Html.TextBox("torre", "OA", new { @class = "form-control input-sm", @maxlength = "2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.unidade, "Unidade *", new { @class = "col-md-3 control-label" })
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                @Html.TextBox("unidade", "1304", new { @class = "form-control input-sm", @maxlength = "4" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.dt_nascimento, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(info => info.dt_nascimento, "DATE", new { identificador = "dt_nascimento", readOnly = "false" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.rg, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.rg, new { @class = "form-control input-sm", @maxlength = "10" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.orgaoEmissor, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.orgaoEmissor, new { @class = "form-control input-sm", @maxlength = "15" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.sexo, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.DropDownListFor(m => m.sexo, App_Dominio.Enumeracoes.DropDownListEnum.Sexo(), new { @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.email1, "E-mail *", new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.email1, new { @class = "form-control input-sm", @style = "width: 180%; text-transform: lowercase;", @maxlength = "100" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            @Html.Editor("_usuarioID", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Usuário",
                                                           id = "usuarioId",
                                                           text = "nome_usuario",
                                                           lovModal = "LovUsuarioMedicoModal",
                                                           controller = "usuario",
                                                           descricao = "nome",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.usuarioId != null ? Model.usuarioId.ToString() : "",
                                                               Text = Model.nome_usuario != null ? Model.nome_usuario.ToString() : ""
                                                           },
                                                           disableButtons = false,
                                                           nextField = "endereco"
                                                       }
                                               })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.situacao, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.DropDownListFor(m => m.situacao, App_Dominio.Enumeracoes.DropDownListEnum.Situacao(), new { @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="end_res">
                            <div class="row" style="margin-top: 35px">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.telParticular1, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.telParticular1, new { @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.telParticular2, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.telParticular2, new { @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.telParticular3, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.telParticular3, new { @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.telParticular4, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.telParticular4, new { @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="end_com">
                            <div class="row" style="margin-top: 35px">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.enderecoCom, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.enderecoCom, new { @class = "form-control input-sm", @placeholder = "Endereço comercial", @Style = "width: 180%", @maxlength = "50" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.complementoEndCom, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.complementoEndCom, new { @class = "form-control input-sm", @style = "width: 180%", @maxlength = "40" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Editor("_cidadeComId", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Cidade",
                                                           id = "cidadeComId",
                                                           text = "nome_cidadeCom",
                                                           lovModal = "LovCidadeComModal",
                                                           controller = "cidade",
                                                           descricao = "nome",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.cidadeComId.ToString(),
                                                               Text = Model.nome_cidadeCom
                                                           },
                                                           disableButtons = false,
                                                           nextField = "ufCom"
                                                       }
                                               })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ufCom, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.ufCom, new { @class = "form-control input-sm", @style = "text-transform: uppercase", @maxlength = "2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.cepCom, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.cepCom, new { @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.bairroCom, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.bairroCom, new { @class = "form-control input-sm", @maxlength = "25" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.telCom1, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.telCom1, new { @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.telCom2, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.telCom2, new { @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.fax, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.fax, new { @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="dados_prof">
                            <div class="row" style="margin-top: 35px">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Editor("_areaAtuacao1Id", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Atuação",
                                                           id = "areaAtuacao1Id",
                                                           text = "descricao_areaAtuacao1",
                                                           lovModal = "LovAreaAtuacao1Modal",
                                                           controller = "AreaAtuacao",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.areaAtuacao1Id.ToString(),
                                                               Text = Model.descricao_areaAtuacao1
                                                           },
                                                           disableButtons = false,
                                                           nextField = "areaAtuacao2Id"
                                                       }
                                               })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Editor("_areaAtuacao2Id", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Atuação",
                                                           id = "areaAtuacao2Id",
                                                           text = "descricao_areaAtuacao2",
                                                           lovModal = "LovAreaAtuacao2Modal",
                                                           controller = "AreaAtuacao",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.areaAtuacao2Id.ToString(),
                                                               Text = Model.descricao_areaAtuacao2
                                                           },
                                                           disableButtons = false,
                                                           nextField = "areaAtuacao3Id"
                                                       }
                                               })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Editor("_areaAtuacao3Id", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Atuação",
                                                           id = "areaAtuacao3Id",
                                                           text = "descricao_areaAtuacao3",
                                                           lovModal = "LovAreaAtuacao3Modal",
                                                           controller = "AreaAtuacao",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.areaAtuacao3Id.ToString(),
                                                               Text = Model.descricao_areaAtuacao3
                                                           },
                                                           disableButtons = false,
                                                           nextField = "especialidade1Id"
                                                       }
                                               })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Editor("_especialidade1Id", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Especialidade *",
                                                           id = "especialidade1Id",
                                                           text = "descricao_especialidade1",
                                                           lovModal = "LovEspecialidadeMedica1Modal",
                                                           controller = "Especialidade",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.especialidade1Id.ToString(),
                                                               Text = Model.nome_especialidade1
                                                           },
                                                           disableButtons = false,
                                                           nextField = "especialidade2Id"
                                                       }
                                               })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Editor("_especialidade2Id", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Especialidade",
                                                           id = "especialidade2Id",
                                                           text = "descricao_especialidade2",
                                                           lovModal = "LovEspecialidadeMedica2Modal",
                                                           controller = "Especialidade",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.especialidade2Id.ToString(),
                                                               Text = Model.nome_especialidade2
                                                           },
                                                           disableButtons = false,
                                                           nextField = "especialidade3Id"
                                                       }
                                               })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Editor("_especialidade3Id", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Especialidade",
                                                           id = "especialidade3Id",
                                                           text = "descricao_especialidade3",
                                                           lovModal = "LovEspecialidadeMedica3Modal",
                                                           controller = "Especialidade",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.especialidade3Id.ToString(),
                                                               Text = Model.nome_especialidade3
                                                           },
                                                           disableButtons = false,
                                                           nextField = "email2"
                                                       }
                                               })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.email2, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.email2, new { @class = "form-control input-sm", @style = "width: 180%; text-transform: lowercase;", @maxlength = "100" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.email3, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.email3, new { @class = "form-control input-sm", @style = "width: 180%; text-transform: lowercase;", @maxlength = "100" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="depend">
                            <div class="row" style="margin-top: 35px">
                                <div class="col-md-12">
                                    <div class="row Scroll">
                                        <div class="col-md-12 column">
                                            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer; padding: 0px">
                                                <caption></caption>
                                                <thead style="background-color: #fff1a5">
                                                    <tr>
                                                        <th style="text-align: center">Ação</th>
                                                        <th>Nome</th>
                                                        <th style="text-align: center">Sexo</th>
                                                        <th style="text-align: center">Grau Relação</th>
                                                    </tr>
                                                </thead>
                                                <tr>
                                                    <td style="width: 25%">
                                                        <div class="row-clearfix">
                                                            <div class="col-md-12">
                                                                <div class="btn-group btn-group-xs">
                                                                    <button class="btn btn-sm" type="button">
                                                                        <em class="glyphicon glyphicon-edit"></em> @Html.ActionLink("Editar", "Edit", routeValues: new { associadoId = 1 }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                                                    </button>
                                                                    <button class="btn btn-sm" type="button">
                                                                        <em class="glyphicon glyphicon-remove"></em> @Html.ActionLink("Excluir", "Delete", routeValues: new { associadoId = 1 }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        Maristela Gonçaçves Serruya
                                                    </td>
                                                    <td style="text-align: center">
                                                        Feminino
                                                    </td>
                                                    <td style="text-align: center">
                                                        Filho(a)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 25%">
                                                        <div class="row-clearfix">
                                                            <div class="col-md-12">
                                                                <div class="btn-group btn-group-xs">
                                                                    <button class="btn btn-sm" type="button">
                                                                        <em class="glyphicon glyphicon-edit"></em> @Html.ActionLink("Editar", "Edit", routeValues: new { associadoId = 1 }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                                                    </button>
                                                                    <button class="btn btn-sm" type="button">
                                                                        <em class="glyphicon glyphicon-remove"></em> @Html.ActionLink("Excluir", "Delete", routeValues: new { associadoId = 1 }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        Marcelo Gonçaçves Serruya
                                                    </td>
                                                    <td style="text-align: center">
                                                        Masculino
                                                    </td>
                                                    <td style="text-align: center">
                                                        Filho(a)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 25%">
                                                        <div class="row-clearfix">
                                                            <div class="col-md-12">
                                                                <div class="btn-group btn-group-xs">
                                                                    <button class="btn btn-sm" type="button">
                                                                        <em class="glyphicon glyphicon-edit"></em> @Html.ActionLink("Editar", "Edit", routeValues: new { associadoId = 1 }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                                                    </button>
                                                                    <button class="btn btn-sm" type="button">
                                                                        <em class="glyphicon glyphicon-remove"></em> @Html.ActionLink("Excluir", "Delete", routeValues: new { associadoId = 1 }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        Graciele Gonçaçves Serruya
                                                    </td>
                                                    <td style="text-align: center">
                                                        Feminino
                                                    </td>
                                                    <td style="text-align: center">
                                                        Cunhado(a)
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="veic">
                            <div class="row" style="margin-top: 35px">
                                <div class="col-md-12">
                                    <div class="row Scroll">
                                        <div class="col-md-12 column">
                                            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer; padding: 0px">
                                                <caption></caption>
                                                <thead style="background-color: #fff1a5">
                                                    <tr>
                                                        <th style="text-align: center">Ação</th>
                                                        <th>Placa</th>
                                                        <th style="text-align: left">Cor</th>
                                                        <th style="text-align: left">Marca</th>
                                                        <th style="text-align: left">Descrição</th>
                                                    </tr>
                                                </thead>
                                                <tr>
                                                    <td style="width: 25%">
                                                        <div class="row-clearfix">
                                                            <div class="col-md-12">
                                                                <div class="btn-group btn-group-xs">
                                                                    <button class="btn btn-sm" type="button">
                                                                        <em class="glyphicon glyphicon-edit"></em> @Html.ActionLink("Editar", "Edit", routeValues: new { associadoId = 1 }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                                                    </button>
                                                                    <button class="btn btn-sm" type="button">
                                                                        <em class="glyphicon glyphicon-remove"></em> @Html.ActionLink("Excluir", "Delete", routeValues: new { associadoId = 1 }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        JTU-2301
                                                    </td>
                                                    <td style="text-align: left">
                                                        Preto
                                                    </td>
                                                    <td style="text-align: left">
                                                        Chevrolett
                                                    </td>
                                                    <td style="text-align: left">
                                                        Prisma, 4 portas 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 25%">
                                                        <div class="row-clearfix">
                                                            <div class="col-md-12">
                                                                <div class="btn-group btn-group-xs">
                                                                    <button class="btn btn-sm" type="button">
                                                                        <em class="glyphicon glyphicon-edit"></em> @Html.ActionLink("Editar", "Edit", routeValues: new { associadoId = 1 }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                                                    </button>
                                                                    <button class="btn btn-sm" type="button">
                                                                        <em class="glyphicon glyphicon-remove"></em> @Html.ActionLink("Excluir", "Delete", routeValues: new { associadoId = 1 }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        RET-0190
                                                    </td>
                                                    <td style="text-align: left">
                                                        Prata
                                                    </td>
                                                    <td style="text-align: left">
                                                        Honda
                                                    </td>
                                                    <td style="text-align: left">
                                                        FIT, 4 portas
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 25%">
                                                        <div class="row-clearfix">
                                                            <div class="col-md-12">
                                                                <div class="btn-group btn-group-xs">
                                                                    <button class="btn btn-sm" type="button">
                                                                        <em class="glyphicon glyphicon-edit"></em> @Html.ActionLink("Editar", "Edit", routeValues: new { associadoId = 1 }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                                                    </button>
                                                                    <button class="btn btn-sm" type="button">
                                                                        <em class="glyphicon glyphicon-remove"></em> @Html.ActionLink("Excluir", "Delete", routeValues: new { associadoId = 1 }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        XVZ-7890
                                                    </td>
                                                    <td style="text-align: left">
                                                        Preto
                                                    </td>
                                                    <td style="text-align: left">
                                                        Chevrolett
                                                    </td>
                                                    <td style="text-align: left">
                                                        Celta, 2 portas
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="finan">
                            <div class="row" style="margin-top: 35px">
                                <div class="col-md-12">
                                    <div class="row Scroll">
                                        <div class="col-md-12 column">
                                            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer; padding: 0px">
                                                <caption></caption>
                                                <thead style="background-color: #fff1a5">
                                                    <tr>
                                                        <th>Mensalidade</th>
                                                        <th style="text-align: left">Vencimento</th>
                                                        <th style="text-align: left">Pagamento</th>
                                                        <th style="text-align: center">Atraso</th>
                                                        <th style="text-align: right ">Valor</th>
                                                        <th style="text-align: right">Valor Pago</th>
                                                        <th style="text-align: right">Em aberto</th>
                                                    </tr>
                                                </thead>
                                                <tr>
                                                    <td>
                                                        Janeiro/2014
                                                    </td>
                                                    <td style="text-align: left">
                                                        05/01/2014
                                                    </td>
                                                    <td style="text-align: left">
                                                        05/01/2014
                                                    </td>
                                                    <td style="text-align: center">
                                                        
                                                    </td>
                                                    <td style="text-align: right">R$ 586,00</td>
                                                    <td style="text-align: right">R$ 586,00</td>
                                                    <td style="text-align: right"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Fevereiro/2014
                                                    </td>
                                                    <td style="text-align: left">
                                                        05/02/2014
                                                    </td>
                                                    <td style="text-align: left">
                                                    </td>
                                                    <td style="text-align: center">35 dias</td>
                                                    <td style="text-align: right">R$ 586,00</td>
                                                    <td style="text-align: right"></td>
                                                    <td style="text-align: right">R$ 586,00</td>
                                                </tr>
                                                <tr style="font-weight: bold">
                                                    <td>
                                                        <b>Total</b>
                                                    </td>
                                                    <td style="text-align: left">
                                                        
                                                    </td>
                                                    <td style="text-align: left"></td>
                                                    <td style="text-align: center"></td>
                                                    <td style="text-align: right">R$ 1.172,00</td>
                                                    <td style="text-align: right">R$ 586,00</td>
                                                    <td style="text-align: right">R$ 586,00</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="tab-pane fade" id="obs">
                            <div class="row" style="margin-top: 35px">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <div class="input-group col-md-12">
                                                @Html.LabelFor(info => info.observacao)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <div class="input-group col-md-12">
                                                @*@Html.TextAreaFor(m => m.observacao, 8, 1, htmlAttributes: new { @class = "form-control input-sm", @placehoder = "Digite aqui as observações sobre o associado" })<br />*@
                                                <textarea name="observacao">@Model.observacao</textarea>
                                                <script>
                                                    CKEDITOR.replace('observacao');                                                    
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Salvar",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "Associado",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
                <div class="col-md-offset-4">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var p = new CKEDITOR.dom.element("p");

    p.appendText('@Model.observacao');


    document.getElementById("_identificacao").click();

    $("#CRM_Seg").mask("?99999");
    $("#CRM").mask("?99999");
    $("#cpf").mask("999.999.999-99");
    $("#cep").mask("99999-999");
    $("#cepCom").mask("99999-999");
    $("#telParticular1").mask("99 9999-9999");
    $("#telParticular2").mask("99 9999-9999");
    $("#telParticular3").mask("99 9999-9999");
    $("#telParticular4").mask("99 9999-9999");
    $("#telCom1").mask("99 9999-9999");
    $("#telCom2").mask("99 9999-9999");
    $("#fax").mask("99 9999-9999");

</script>

