@model System.Web.Mvc.PagedList<DWM.Models.Repositories.AssociadoViewModel>
@{
    Layout = null;
}
@if (Model != null)
{
    <div class="row Scroll">
        <div class="col-md-12 column">
            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer;">
                <caption></caption>
                <thead style="background-color: #fff1a5">
                    <tr>
                        <th class="text-center">Ação</th>
                        <th class="text-center">Unidade</th>
                        <th>Nome</th>
                        <th class="hidden-sm hidden-xs">E-mail</th>
                        <th class="hidden-sm hidden-xs">Telefone</th>
                    </tr>
                </thead>
                @foreach (DWM.Models.Repositories.AssociadoViewModel obj in Model)
                {
                    <tr>
                        <td class="col-md-3 col-xs-2 col-sm-2">
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                    <div class="col-md-5"><button type="button" class="btn btn-info btn-xs" onclick="window.location='../AssociadoDocumento/Browse?associadoId=@obj.associadoId.ToString()'">Documentos</button></div>
                                    <div class="col-md-3"><button type="button" class="btn btn-danger btn-xs hidden-sm hidden-xs" onclick="window.location='Edit?associadoId=@obj.associadoId.ToString()'">Editar</button></div>
                                    <div class="col-md-4"><button type="button" class="btn btn-success btn-xs hidden-sm hidden-xs" onclick="window.location='Avatar?associadoId=@obj.associadoId.ToString()'">Avatar</button></div>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-1 col-xs-2 col-sm-2 text-center">
                            @obj.torreId-@obj.unidadeId
                        </td>
                        <td class="col-md-4 col-xs-6 col-sm-6 text-left">
                            <small>@obj.nome</small>
                        </td>
                        <td class="col-md-2 col-xs-2 col-sm-2 text-left hidden-sm hidden-xs">
                            <small>@obj.email1</small>
                        </td>
                        <td class="col-md-2 col-xs-2 col-sm-2 text-left hidden-sm hidden-xs">
                            <small>
                                @if (obj.telParticular1 != null && obj.telParticular1 != "" && obj.telParticular2 != null && obj.telParticular2 != "")
                                {
                                    @(App_Dominio.Models.Funcoes.FormataTelefone(obj.telParticular1) + "/" + App_Dominio.Models.Funcoes.FormataTelefone(obj.telParticular2))
                                }
                                else if (obj.telParticular1 != null && obj.telParticular1 != "")
                                {
                                    @App_Dominio.Models.Funcoes.FormataTelefone(obj.telParticular1)
                                }
                                else if (obj.telParticular2 != null && obj.telParticular2 != "")
                                {
                                    @App_Dominio.Models.Funcoes.FormataTelefone(obj.telParticular2)
                                }
                            </small>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @Html.Partial("Paginacao", Model)
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}
