@model System.Web.Mvc.PagedList<Sindemed.Models.Repositories.MedicoViewModel>
@{
    Layout = null;
}
@if (Model != null)
{
    <div class="row Scroll">
        <div class="col-md-12 column">
            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer; padding: 0px">
                <caption></caption>
                <thead style="background-color: #fff1a5">
                    <tr>
                        <th style="text-align: center">Ação</th>
                        <th>Nome</th>
                        <th style="text-align: center">Torre</th>
                        <th style="text-align: center">Unidade</th>
                    </tr>
                </thead>
                @foreach (Sindemed.Models.Repositories.MedicoViewModel med in Model)
                {
                    <tr>
                        <td style="width: 25%">
                            <div class="row-clearfix">
                                <div class="col-md-12">
                                    <div class="btn-group btn-group-xs">
                                        <button class="btn btn-sm" type="button">
                                            <em class="glyphicon glyphicon-list-alt"></em> @Html.ActionLink("Documentos", "Browse", "AssociadoDocumento", routeValues: new { associadoId = med.associadoId }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                        </button>
                                        <button class="btn btn-sm" type="button">
                                            <em class="glyphicon glyphicon-edit"></em> @Html.ActionLink("Editar", "Edit", routeValues: new { associadoId = med.associadoId }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                        </button>
                                        <button class="btn btn-sm" type="button">
                                            <em class="glyphicon glyphicon-remove"></em> @Html.ActionLink("Excluir", "Delete", routeValues: new { associadoId = med.associadoId }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            @med.nome
                        </td>
                        <td style="text-align: center">
                            @med.torre
                        </td>
                        <td style="text-align: center">
                            @med.unidade
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @Html.Partial("Paginacao", Model)
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}
