@using App_Dominio.Repositories
@using App_Dominio.Enumeracoes
@model Nullable<System.DateTime>

<div class="input-group date" data-date-format="dd/mm/yyyy">
    @if (ViewData["readonly"] == "true")
    { 
        <input class="form-control input-sm" style="width: 90px" id="@ViewData["identificador"]" name="@ViewData["identificador"]" type="text" readonly value="@ViewData.TemplateInfo.FormattedModelValue">    
    }
    else
    { 
        <input class="form-control input-sm" style="width: 90px" id="@ViewData["identificador"]" name="@ViewData["identificador"]" type="text" onfocus="datepickerShow(this)" value="@ViewData.TemplateInfo.FormattedModelValue"><button class="btn btn-sm" type="button" onclick="datepickerShow('#@ViewData["identificador"]')"><i class="glyphicon glyphicon-th"></i></button>
    }
    
</div>

