@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model DWM.Models.Repositories.AssociadoGrupoViewModel
@{
    ViewBag.Title = new App_Dominio.Security.EmpresaSecurity<App_Dominio.Entidades.SecurityContext>().getEmpresa().nome;
}
@using (Html.BeginForm("Create", "AssociadoGrupo", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div id="div-lov"></div>
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Condôminos dos grupos <small>Vincular condômino a um grupo.</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <p>
                            Vincular
                        </p> <small>Para vincular o condômino ao grupo, localize o respectivo condômino e depois informe o grupo no qual este condômino vai pertencer.
                        </small>
                        <small>A partir do momento que o condômino for vinculado a um grupo ele passa a visualizar na tela principal todos os comunicados que são exibidos para o respectivo grupo.</small>
                        <small>O mesmo condômino pode pertencer a vários grupos e visualizar as mensagens de vários grupos.</small>
                    </blockquote>
                </div>
                <div class="col-md-12">
                    <div class="form-group" style="margin-top: 20px">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.associadoId, "Condômino *", new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                <div class="input-group">
                                    @Html.DropDownList("associadoId", new DWM.Models.Enumeracoes.BindDropDownList().Condomino("Selecione...", Model.associadoId), new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.grupoAssociadoId, "Grupo *", new { @class = "col-md-3 control-label" })
                            <div class="col-md-5">
                                <div class="input-group">
                                    @Html.DropDownList("grupoAssociadoId", new DWM.Models.Enumeracoes.BindDropDownList().GruposAssociados("Selecione...", Model.grupoAssociadoId), new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Salvar",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "AssociadoGrupo",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
                <div class="col-md-offset-4">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>
}

