@model System.Web.Mvc.PagedList<DWM.Models.Repositories.AssociadoDocumentoViewModel>
@{
    Layout = null;
    System.Web.HttpContext web = System.Web.HttpContext.Current;
    App_Dominio.Security.EmpresaSecurity<App_Dominio.Entidades.SecurityContext> security = new App_Dominio.Security.EmpresaSecurity<App_Dominio.Entidades.SecurityContext>();
    App_Dominio.Entidades.Sessao sessaoCorrente = security.getSessaoCorrente();
}
@if (Model != null)
{
    <div class="row Scroll">
        <div class="col-md-12 column">
            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer; padding: 0px">
                <caption></caption>
                <thead style="background-color: #fff1a5">
                    <tr>
                        <th class="text-center">Ação</th>
                        <th class="hidden-xs">Data</th>
                        <th>Documento</th>                        
                    </tr>
                </thead>
                @foreach (DWM.Models.Repositories.AssociadoDocumentoViewModel doc in Model)
                {
                    var path = System.Configuration.ConfigurationManager.AppSettings["Users_Data"].Replace("~", "");
                    var fileName =  "../" + path+ "/" + doc.fileId;
                    
                    <tr>
                        <td class="col-md-3 col-xs-6 col-sm-6">
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                    @if (".htm|.txt|.html".Contains(new FileInfo(Path.Combine(web.Server.MapPath(System.Configuration.ConfigurationManager.AppSettings["Users_Data"]), doc.fileId)).Extension))
                                    {
                                        <div class="col-md-2 hidden-xs">
                                            <button type="button" class="btn btn-info btn-xs" onclick="window.location='Edit?fileId=@doc.fileId.ToString()'">Editar</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-2 hidden-xs">
                                            <button type="button" class="btn btn-info btn-xs hidden-sm hidden-xs disabled">Editar</button>
                                        </div>
                                    }

                                    @if (sessaoCorrente.value1 == "0")
                                    {
                                        <div class="col-md-3 hidden-xs">
                                            <button type="button" class="btn btn-danger btn-xs hidden-sm hidden-xs" onclick="window.location='Delete?fileId=@doc.fileId.ToString()'">Excluir</button>
                                        </div>
                                    }

                                    @if (".htm|.txt|.html|.pdf|.png|.jpg|.bmp|.gif".Contains(new FileInfo(Path.Combine(web.Server.MapPath(System.Configuration.ConfigurationManager.AppSettings["Users_Data"]), doc.fileId)).Extension.ToLower()))
                                    {
                                        <div class="col-md-3 col-xs-6">
                                            <button type="button" class="btn btn-default btn-xs hidden-sm" onclick="Show('@fileName', '@doc.nomeArquivoOriginal')">Visualizar</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-4 hidden-xs">
                                            <button type="button" class="btn btn-default btn-xs hidden-sm disabled">Visualizar</button>
                                        </div>
                                    }
                                    <div class="col-md-3 col-xs-6"><button type="button" class="btn btn-success btn-xs">
                                        <a style="text-decoration: none; color: #ffffff;" href="@fileName" download="@doc.nomeArquivoOriginal"><span style="text-decoration: none; color: #fff; cursor: pointer">Download</span></a></button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-2 hidden-xs">
                            @doc.dt_arquivo.ToString("dd/MM/yyyy HH:mm")
                        </td>
                        <td class="col-md-6 col-xs-6 col-sm-4">
                            <span class="label label-warning">@doc.tag</span>
                            @doc.nomeArquivoOriginal
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @Html.Partial("Paginacao", Model)
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}


<div class="modal fade" id="modal-container-964987a" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                </h4>
            </div>
            <div class="modal-body Scroll" style="height: 700px">
                <div id="catarina" style="width: 100%; height: 100%">
                    <embed id="fdp">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<a id="linkModal" href="#modal-container-964987a" data-toggle="modal"></a>


<script type="text/javascript">
    function DownLoad(fileId) {
        var path = '@System.Configuration.ConfigurationManager.AppSettings["Users_Data"]';
        var fileName =  "../" + path+ "/" + fileId;
        $.fileDownload(fileName)
            .done(function () { alert('File download a success!'); })
            .fail(function () { alert('File download failed!'); });
    }

    function Show(fileName, documento) {
        $("#myModalLabel").text(documento);
        $("#catarina embed").attr("src",fileName + "?ts=" + new Date().getTime());

        if (fileName.toLowerCase().indexOf("pdf") >= 0 || fileName.toLowerCase().indexOf("htm") >= 0 || fileName.toLowerCase().indexOf("txt") >= 0) {
            $("#catarina embed").css("width", "100%");
            $("#catarina embed").css("height", "100%");
            $("#catarina embed").css("position", "relative");
            $("#catarina embed").css("top", "0%");
            $("#catarina embed").css("left", "0%");
            $("#catarina embed").css("margin-top","10px");
            $("#catarina embed").css("margin-left","10px");
        }
        else {
            $("#catarina embed").css("width", "auto");
            $("#catarina embed").css("height", "auto");
        }
        $("#linkModal").click();

    }


</script>