@model System.Web.Mvc.PagedList<Sindemed.Models.Repositories.AssociadoDocumentoViewModel>
@{
    Layout = null;
    System.Web.HttpContext web = System.Web.HttpContext.Current;
}
@if (Model != null)
{
    <div class="row Scroll">
        <div class="col-md-12 column">
            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer; padding: 0px">
                <caption></caption>
                <thead style="background-color: #fff1a5">
                    <tr>
                        <th style="text-align: center">Ação</th>
                        <th>Documento</th>
                        <th>Data</th>
                    </tr>
                </thead>
                @foreach (Sindemed.Models.Repositories.AssociadoDocumentoViewModel doc in Model)
                {
                    var path = System.Configuration.ConfigurationManager.AppSettings["Users_Data"].Replace("~", "");
                    var fileName =  "../" + path+ "/" + doc.fileId;
                    
                    <tr>
                        <td style="width: 25%">
                            <div class="row-clearfix">
                                <div class="col-md-12">
                                    <div class="btn-group btn-group-xs">
                                        @if (".htm|.txt|.html".Contains(new FileInfo(Path.Combine(web.Server.MapPath(System.Configuration.ConfigurationManager.AppSettings["Users_Data"]), doc.fileId)).Extension))
                                        {
                                            <button class="btn btn-sm" type="button">
                                                <em class="glyphicon glyphicon-edit"></em> @Html.ActionLink("Editar", "Edit", routeValues: new { associadoId = doc.associadoId, fileId = doc.fileId }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-sm" type="button">
                                                <em class="glyphicon glyphicon-edit"></em> <span style="text-decoration: none; color: #646464; cursor: text">Editar</span>
                                            </button>
                                        }
                                        <button class="btn btn-sm" type="button">
                                            <em class="glyphicon glyphicon-remove"></em> @Html.ActionLink("Excluir", "Delete", routeValues: new { associadoId = doc.associadoId, fileId = doc.fileId }, htmlAttributes: new { @style = "text-decoration: none; color: #646464" })
                                        </button>
                                        <button class="btn btn-sm" type="button">
                                            <em class="glyphicon glyphicon-download-alt"></em> <a target="_blank" style="text-decoration: none; color: #646464;" href="#modal-container-964987a" data-toggle="modal"><span style="text-decoration: none; color: #646464; cursor: pointer">Visualizar</span></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            @doc.nomeArquivoOriginal
                        </td>
                        <td>
                            @doc.dt_arquivo
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @Html.Partial("Paginacao", Model)
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}


<div class="modal fade" id="modal-container-964987a" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 70%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Nome do Arquivo
                </h4>
            </div>
            <div class="modal-body Scroll">
                @*@Html.DisplayTextFor(info => info.com.Where(com => com.dt_comunicacao <= DateTime.Today && com.grupoAssociadoId == null).FirstOrDefault().mensagemDetalhada)*@
                Teste
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    function DownLoad(fileId) {
        var path = '@System.Configuration.ConfigurationManager.AppSettings["Users_Data"]';
        var fileName =  "../" + path+ "/" + fileId;
        alert(fileName);
        $.fileDownload(fileName)
            .done(function () { alert('File download a success!'); })
            .fail(function () { alert('File download failed!'); });
    }


</script>