@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model DWM.Models.Repositories.AssociadoDocumentoViewModel
@{
    ViewBag.Title = new App_Dominio.Security.EmpresaSecurity<App_Dominio.Entidades.SecurityContext>().getEmpresa().nome;
}
@using (Html.BeginForm("Upload", "AssociadoDocumento", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(info => info.associadoId)
    @Html.HiddenFor(info => info.nome)
    @Html.HiddenFor(info => info.fileId)
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Upload <small>Efetuar upload de arquivo e estabelecer o vínculo com a ficha do associado</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <blockquote>
                        <p>
                            Upload de arquivos
                        </p> <small>Selecionar o arquivo desejado para fazer o upload.O arquivo será copiado na pasta do associado. Este arquivo poderá ser baixado pelo associado ou pela administração.</small>
                    </blockquote>
                    <div class="col-md-12">
                        <div class="form-group" style="margin-top: 20px">
                            @Html.ValidationSummary(false)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.nome, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.nome, new { @class = "form-control input-sm", @disabled = "disable" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.tipoDocumentoId, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(info => info.tipoDocumentoId, new DWM.Models.Enumeracoes.BindDropDownList().TipoDocumento("Selecione...", (Model != null ? Model.tipoDocumentoId.ToString() : "")), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.palavra_chave, new { @class = "col-md-3 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.palavra_chave, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.nomeArquivoOriginal, new { @class = "col-md-3 control-label" })
                        <div class="col-md-8">
                            <input type="file" name="nomeArquivoOriginal" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Upload",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } 
                        })
                    <button type="button" class="btn btn-default" onclick="window.location='Browse?associadoId=@Model.associadoId.ToString()'">Cancelar</button>
                </div>
                <div class="col-md-offset-4">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>
}



