@model System.Web.Mvc.PagedList<Sindemed.Models.Repositories.EspecialidadeMedicaViewModel>
@{
    Layout = null;
}

@if (Model != null && Model.Count > 0)
{
    <div class="row Scroll">
        <div class="col-md-12" style="padding-right: 0px;">
            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer">
                <caption></caption>
                <thead style="background-color: #fff1a5">
                    <tr>
                        <th>Descrição</th>
                    </tr>
                </thead>
                @foreach (Sindemed.Models.Repositories.EspecialidadeMedicaViewModel esp in Model)
                {
                    <tr onclick="Move('@esp.especialidadeId', '@esp.descricao')">
                        <td>
                            <div>
                                @esp.descricao
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @Html.Partial("Paginacao", Model)
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}



