@using Sindemed.Models.Repositories
@using App_Dominio.Repositories
@model Sindemed.Models.Repositories.GrupoAssociadoViewModel
@{
    ViewBag.Title = "Sindmed";
}
@using (Html.BeginForm("Edit", "GrupoMedico", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(info => info.grupoAssociadoId)
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Grupos de Associados  <small>Utilizado no envio de comunicados espefícios para associados que pertençam ao respectivo grupo</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <p>
                            Alteração de Grupos de Associados
                        </p> <small>Os grupos têm o objtivo de reunir associados que estejam ligados por um objetivo comum. Os comunicados enviados ao grupos serão exibidos na tela de entrada do respectivo associado.</small>
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group" style="margin-top: 20px">
                        @Html.LabelFor(m => m.descricao, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <div class="input-group col-md-12">
                                @Html.TextBoxFor(m => m.descricao, new { @class = "form-control input-sm", @placeholder = "Nome do grupo" })<br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        @Html.LabelFor(m => m.objetivo, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <div class="input-group col-md-12">
                                @Html.TextAreaFor(m => m.objetivo, 3, 1, new { @class = "form-control input-sm" })<br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Salvar",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "GrupoMedico",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
                <div class="col-md-offset-4">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>
}



