@using App_Dominio.Entidades
@using DWM.Models.Repositories
@model DWM.Models.LoginViewModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutBanner.cshtml";
}
<section class="enfase">
    <div class="container">
        <div class="thumbnail enfase">
            <img src="../Content/images/logo.png" alt="...">
            <div class="caption">
                <h4 class="text-center">Sistema de administração do condomínio Parc Paradiso. Este sistema visa otimizar os processos administrativos gerando um melhor atendimento aos moradores, redução de custos e a criação de diferenciais para o condomínio.</h4>
            </div>
        </div>
    </div>
</section>
<section class="omo">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-7 col-xs-12 column hidden-sm hidden-xs">
                <div class="row clearfix">
                    <div class="col-md-12 col-xs-12 col-sm-12 column">
                        <div class="media text-muted">
                            <a href="#" class="pull-left"><img src="../Content/images/morador.png" class="media-object" alt='' /></a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    Cadastro de proprietários e moradores
                                </h4>
                                <p>
                                    <small>
                                        Cadastro de todos os proprietários do condomínio, por torre, com a identificação dos moradores ou locatários
                                        residentes em cada apartamento e grau de parentesco com o morador.
                                    </small>
                                </p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="media text-muted">
                            <a href="#" class="pull-left"><img src="../Content/images/documentos.png" class="media-object" alt='' /></a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    Documentos
                                </h4>
                                <p>
                                    <small>
                                        Será disponibilizado um espaço no sistema para o síndico fazer o upload dos documentos relacionados ao condomínio,
                                        tais como o regimento interno, atas de assembleias, convocações, parecer técnico, etc.
                                    </small>
                                </p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 col-xs-12 col-sm-12 column">
                        <div class="media text-muted">
                            <a href="#" class="pull-left"><img src="../Content/images/9467110095717176-t100.png" class="media-object" alt='' /></a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    Comunicados e informativos
                                </h4>
                                <p>
                                    <small>
                                        Este espaço será utilizado pelo síndico para estabelecer a comunicação com os condôminos e divulgar as ações
                                        executadas pela sua administração. Abaixo de cada informativo o condômino poderá fazer comentários.
                                    </small>
                                </p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="media text-muted">
                            <a href="#" class="pull-left"><img src="../Content/images/FixBoost-Menu-Image-Help-Desk-Solutions.png" class="media-object" alt='' /></a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    Atendimento
                                </h4>
                                <p>
                                    <small>
                                        Este recurso estabelece a linha direta entre o condômino e a administração. O morador abre um chamado e registra
                                        uma ocorrência ou solicitação que será enviada para a administração responder. Este módulo realiza o acompanhamento
                                        dessas ocorrências.
                                    </small>
                                </p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xs-12 col-sm-12 column">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Acesso</div>
                            <div class="panel-body">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                {

                                    @Html.ValidationSummary(false)
                                    @Html.AntiForgeryToken()
                                    <div class="alert alert-info">Caso já tenha feito o seu cadastro, informe abaixo o seu e-mail e senha para fazer o acesso ao sistema.</div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Seu e-mail" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Entrar" class="btn btn-default" />
                                    </div>
                                    <p class="hidden-xs">
                                        @Html.ActionLink("Cadastre-se", "Register", "Account") caso não possua uma conta.
                                    </p>
                                    <p>
                                        @Html.ActionLink("Esqueci minha Senha", "Forgot", "EsqueciMinhaSenha")
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="neve">
    <div class="container">
        <div class="page-header">
            <h3>O que vem por aí...</h3>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img alt="300x200" src="../Content/images/fe6ff5ad8d1d0c1607086ba1ccea3f04.jpg" />
                    <div class="caption">
                        <h3>Portaria</h3>
                        <p>Este recurso possibilita estabelecer um controle de quem entra e quem sai do condomínio.</p>
                        <p>A ideia é adotar os procedimentos de controle e segurança de acesso dos prestadores de serviços e visitantes ao condomínio e as unidades residenciais.</p>
                        <p>O sistema fará um cadastro das pessoas externas com dados de nome e RG e vai registar a data e hora de entrada e saída no condomínio de cada uma dessas pessoas. A portaria também poderá realizar anotações sobre o acesso do prestador.</p>
                        <p>Eventualmente o morador poderá pelo celular ou por um pc doméstico autorizar o acesso do visitante ou prestador, informando inclusive a data e horário estimado da chegada. Caso a pessoa chegue fora do horário a portaria limitará o seu acesso.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img alt="300x200" src="../Content/images/setor-financeiro.jpg" />
                    <div class="caption">
                        <h3>Financeiro</h3>
                        <p>Emissão de boletos da taxa condominial e taxas de avulsos (aluguel de churrasqueira, salão de festas, etc.). Permitir que o morador possa emitir a 2a. via do boleto da taxa condominial.</p>
                        <p>Extrato financeiro de pagamentos. O morador poderá consultar na tela ou imprimir o extrato de pagamentos de taxas condominiais, multas e aluguéis de espaço comum.</p>
                        <p>O condômino também poderá visualizar os demonstrativos financeiros e contábeis a qualquer momento, bem como extratos e saldos bancários.</p>
                        <p>O sistema também vai oferecer recursos para baixa manual e automáica de boletos, negociação de taxas condominiais atrasadas, livro caixa, fluxo de caixa, contas a pagar, planejamento orçamentário, etc.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img alt="300x200" src="../Content/images/15022012calendario006.jpg" />
                    <div class="caption">
                        <h3>Reserva de espaço</h3>
                        <p>Cada condômino poderá consultar a agenda de reservas da área comum e de acordo com a disponibilidade dos espaço poderá realizar uma reserva com data e horário.</p>
                        <p>Se o condômino estiver inadimplente, o sistema não permitirá ele fazer a reserva.</p>
                        <p>Uma vez feita a reserva, o sistema vai emitir o boleto com vencimento até 2 dias antes do evento. Caso o pagamento não ocorra, automaticamente a reserva é cancelada.</p>
                        <p>O processo de reserva inclui também o cadastramento da lista de convidados respeitando o limite de cada área. A lista de convidados ficará disponível no sistema para que a portaria possa consultar e dar a baixa dos convidados quando eles chegarem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="areia">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 col-xs-12 col-sm-12 column">
                <div class="media text-muted">
                    <a href="#" class="pull-left"><img src="../Content/images/cartao-de-arbitragem-futebol-tp_7371214782295467278.jpg" class="media-object" alt='' /></a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Advertências e multas
                        </h4>
                        <p>
                            <small>
                                Quando o morador infringir as regras do regimento interno, o sindico poderá lhe aplicar uma notificação com efeito educativo.
                                Atrvés do sistema, o síndico poderá registrar as advertências e multas, emitir o boleto de infração, notificar o condômino através de e-mail e vincular a ocorrência ao histórico do morador.
                            </small>
                        </p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="media text-muted">
                    <a href="#" class="pull-left"><img src="../Content/images/festajunina-100x100.jpg" class="media-object" alt='' /></a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Eventos
                        </h4>
                        <p>
                            <small>
                                Festa junina, café do dia das mães, torneio de tênis entre outros eventos poderão ser admnistrados no sistema.
                                Cada morador que desejar participar fará seu cadastro. O sistema vai gerar o boleto e após a compensação bancária o sistema enviará um e-mail confirmando sua efetivação no evento.
                            </small>
                        </p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-6 col-xs-12 col-sm-12 column">
                <div class="media text-muted">
                    <a href="#" class="pull-left"><img src="../Content/images/enquete.jpg" class="media-object" alt='' /></a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Enquetes
                        </h4>
                        <p>
                            <small>
                                Esta será uma ferramenta de auxílio ao síndico nas tomadas de decisões. Com este recurso o síndico poderá criar perguntas e respostas e lançar para os moradores votarem.
                                Baseado nas estatísticas de respostas será possível tomar as suas ações. Os moradores também poderão acompanhar o resultado da enquete.
                            </small>
                        </p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="media text-muted">
                    <a href="#" class="pull-left"><img src="../Content/images/classificados.png" class="media-object" alt='' /></a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Classificados
                        </h4>
                        <p>
                            <small>
                                A ideia é permitir que os moradores possam anunciar serviços ou venda de produtos novos ou usados para outros moradores.
                                Venda ou aluguel de sua unidade residencial, aluguel de vaga de garagem, enfim, o espaço será para livre negociação com publicação de fotos, textos e recados de quem estiver interessado.
                            </small>
                        </p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="enfase">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Seu cadastro
                        </div>
                        <div class="panel-body">
                            <p>É muito importante que todas as unidades realizem seu cadastro. Todos os campos do cadastro foram pensados para atender alguns critérios, dentre eles, o critério de segurança. </p>
                            <p>Você vai encontrar por exemplo campos tais como<p>
                                <ul>
                                    <li>Veículos: Seus veículos autorizados a acessar o condomínio.</li>
                                    <li>Funcionários: Nome, função e o horário de trabalho dos seus colaboradores.</li>
                                    <li>Dependentes: Relação de moradores que residem na sua unidade e qual o grau de relação que você tem com eles.</li>
                                    <li>Etc.</li>
                                </ul>
                            <p>A exigência do cadastro se mostra mais importante ainda com a implantação e entrega dos dispositivos de acesso à garagem (controle remoto de acionamento das cancelas). Será necessário que cada morador imprima o formulário de solicitação de acesso pelo sistema.</p>
                            <p>Além do formulário de acesso à garagem, toda a comunicação com a administração requer uma identificação para que seja possível realizar o atendimento.</p>
                            <p class="page-header"><strong>Código de Barras</strong></p>
                            <p>Por motivos de segurança o seu cadastro será validado com o código de barras do boleto que venceu no dia 05/04/2014. É preciso informar todo o número (sem pontos ou espaços) para que o sistema possa validar e confirmar que você é de fato o condômino da unidade.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@


