@using App_Dominio.Entidades
@using DWM.Models.Repositories
@model DWM.Models.LoginViewModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutBanner.cshtml";
}
<section class="enfase">
    <div class="container">
        <div class="thumbnail enfase">
            <img src="../Content/images/Sindmepa_logo.png" alt="...">
            <div class="caption">
                <h4 class="text-center">Sistema de administração do Sindicato dos Médicos do Pará. Este sistema visa realizar a gestão administrativa do cadastro de associados do Sindicato dos Médicos do Pará.</h4>
            </div>
        </div>
    </div>
</section>
<section class="omo">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-7 col-xs-12 column hidden-sm hidden-xs">
                <div class="row clearfix">
                    <div class="col-md-12 col-xs-12 col-sm-12 column">
                        <div class="media text-muted">
                            <a href="#" class="pull-left"><img src="../Content/images/morador.png" class="media-object" alt='' /></a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    Cadastro de médicos
                                </h4>
                                <p>
                                    <small>
                                        Cadastro de todos os médicos do sindicato, sindicalizados ou não, com a identificação dos associados, suas especialidades e outras mais
                                    </small>
                                </p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="media text-muted">
                            <a href="#" class="pull-left"><img src="../Content/images/documentos.png" class="media-object" alt='' /></a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    Documentos
                                </h4>
                                <p>
                                    <small>
                                        Será disponibilizado um espaço no sistema para a administração fazer o upload dos documentos relacionados ao sindicato,
                                        tais como o regimento interno, atas de assembleias, convocações, parecer técnico, etc.
                                    </small>
                                </p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 col-xs-12 col-sm-12 column">
                        <div class="media text-muted">
                            <a href="#" class="pull-left"><img src="../Content/images/9467110095717176-t100.png" class="media-object" alt='' /></a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    Comunicados e informativos
                                </h4>
                                <p>
                                    <small>
                                        Este espaço será utilizado pelo sindicato para estabelecer a comunicação com os médicos e divulgar as ações
                                        executadas pela sua administração. Abaixo de cada informativo o associado poderá fazer comentários.
                                    </small>
                                </p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="media text-muted">
                            <a href="#" class="pull-left"><img src="../Content/images/FixBoost-Menu-Image-Help-Desk-Solutions.png" class="media-object" alt='' /></a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    Atendimento
                                </h4>
                                <p>
                                    <small>
                                        Este recurso estabelece a linha direta entre o médico e a administração. O associado abre um chamado e registra
                                        uma ocorrência ou solicitação que será enviada para a administração responder. Este módulo realiza o acompanhamento
                                        dessas ocorrências.
                                    </small>
                                </p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xs-12 col-sm-12 column">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Acesso</div>
                            <div class="panel-body">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                {

                                    @Html.ValidationSummary(false)
                                    @Html.AntiForgeryToken()
                                    <div class="alert alert-info">Caso já tenha feito o seu cadastro, informe abaixo o seu e-mail e senha para fazer o acesso ao sistema.</div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Seu e-mail" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Entrar" class="btn btn-default" />
                                    </div>
                                    <p class="hidden-xs">
                                        @Html.ActionLink("Cadastre-se", "Register", "Account") caso não possua uma conta.
                                    </p>
                                    <p>
                                        @Html.ActionLink("Esqueci minha Senha", "Forgot", "EsqueciMinhaSenha")
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="areia">
    <div class="container">
        <div class="page-header" style="margin-top: 0px !important">
            <h3>O que vem por aí...</h3>
        </div>
        <div class="row clearfix">
            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="media text-muted">
                    <a href="#" class="pull-left"><img src="http://www.maximacondominios.com.br/imagens/img_fiquepordentro_boleto.jpg" class="media-object" alt='' /></a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Financeiro
                        </h4>
                        <p>
                            <small>
                                Emissão de boletos da taxa sindical e boletos avulsos. Permitir que o associado possa emitir a 2a. via do boleto da taxa sindical e outras mais.
                                Extrato financeiro de pagamentos. O associado poderá consultar na tela ou imprimir o extrato de pagamentos de taxas sindicais, planos de saúde, débito automático, etc.
                                O sistema também vai oferecer recursos para baixa manual e automáica de boletos, negociação de taxas sindicais e planos de saúde atrasadas, planejamento orçamentário, etc
                            </small>
                        </p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="media text-muted">
                    <a href="#" class="pull-left"><img src="../Content/images/festajunina-100x100.jpg" class="media-object" alt='' /></a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Eventos
                        </h4>
                        <p>
                            <small>
                                Congressos, festa junina, café do dia das mães/pais, torneio de tênis entre outros eventos poderão ser admnistrados no sistema.
                                Cada médico que desejar participar fará sua inscrição pelo seu cadastro. O sistema vai gerar o boleto e após a compensação bancária o sistema enviará um e-mail confirmando sua participação no evento.
                            </small>
                        </p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-6 col-xs-12 col-sm-12 column">
                <div class="media text-muted">
                    <a href="#" class="pull-left"><img src="../Content/images/enquete.jpg" class="media-object" alt='' /></a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Enquetes
                        </h4>
                        <p>
                            <small>
                                Esta será uma ferramenta de auxílio ao sindicato nas tomadas de decisões. Com este recurso a diretoria poderá criar perguntas e respostas e lançar para os associados votarem.
                                Baseado nas estatísticas de respostas será possível tomar as suas ações. Os médicos também poderão acompanhar o resultado da enquete.
                            </small>
                        </p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="media text-muted">
                    <a href="#" class="pull-left"><img src="../Content/images/classificados.png" class="media-object" alt='' /></a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Classificados
                        </h4>
                        <p>
                            <small>
                                A ideia é permitir que os médicos possam anunciar serviços para a população paraense.
                                Apresentação pessoal, apresentação de suas especialidades, localização de sua clínica, convênios que aceita, congressos que participou, enfim, o espaço será para livre divulgação com publicação de fotos, textos e recados para quem estiver interessado.
                            </small>
                        </p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="enfase">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Seu cadastro
                        </div>
                        <div class="panel-body">
                            <p>É muito importante que todas as unidades realizem seu cadastro. Todos os campos do cadastro foram pensados para atender alguns critérios, dentre eles, o critério de segurança. </p>
                            <p>Você vai encontrar por exemplo campos tais como<p>
                                <ul>
                                    <li>Veículos: Seus veículos autorizados a acessar o condomínio.</li>
                                    <li>Funcionários: Nome, função e o horário de trabalho dos seus colaboradores.</li>
                                    <li>Dependentes: Relação de moradores que residem na sua unidade e qual o grau de relação que você tem com eles.</li>
                                    <li>Etc.</li>
                                </ul>
                            <p>A exigência do cadastro se mostra mais importante ainda com a implantação e entrega dos dispositivos de acesso à garagem (controle remoto de acionamento das cancelas). Será necessário que cada morador imprima o formulário de solicitação de acesso pelo sistema.</p>
                            <p>Além do formulário de acesso à garagem, toda a comunicação com a administração requer uma identificação para que seja possível realizar o atendimento.</p>
                            <p class="page-header"><strong>Código de Barras</strong></p>
                            <p>Por motivos de segurança o seu cadastro será validado com o código de barras do boleto que venceu no dia 05/04/2014. É preciso informar todo o número (sem pontos ou espaços) para que o sistema possa validar e confirmar que você é de fato o associado da unidade.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@


