@using DWM.Models.Repositories
@model System.Web.Mvc.PagedList<AtendimentoPendenteViewModel>
@{
    Layout = null;
}
@if (Model != null)
{
    <div class="row Scroll">
        <div class="col-md-12 column">
            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer; padding: 0px">
                <caption></caption>
                <thead style="background-color: #fff1a5">
                    <tr>
                        <th>Dt.Chamado</th>
                        <th>Nome</th>
                        <th>Assunto</th>
                        <th>Atendente</th>
                        <th>Área</th>
                        <th style="text-align: center">Dt.Atendimento</th>
                        <th style="text-align: center">Duração</th>
                    </tr>
                </thead>
                @foreach (AtendimentoPendenteViewModel rep in Model.Where(m => m.assunto != null))
                {
                    string _dt_atendimento = "";
                    if (@rep.dt_atendimento.HasValue)
                    {
                        _dt_atendimento = @rep.dt_atendimento.Value.ToString("dd/MM/yyyy HH:mm");                        
                    }
                    <tr>
                        <td style="width: 10%; font-size: x-small">
                            @rep.dt_chamado.ToString("dd/MM/yyyy HH:mm")
                        </td>
                        <td style="width: 20%; font-size: x-small">
                            @rep.nome
                        </td>
                        <td style="width: 25%; font-size: x-small">
                            @(rep.chamadoId.ToString() + "-" + rep.assunto)
                        </td>
                        <td style="width: 10%; font-size: x-small">
                            @rep.usuario_nome
                        </td>
                        <td style="width: 15%; font-size: x-small">
                            @rep.descricao_areaAtendimento
                        </td>
                        <td style="width: 10%; text-align: center; font-size: x-small">
                            @_dt_atendimento
                        </td>
                        <td style="width: 5%; text-align: center; font-size: x-small">
                            @rep.atraso (dias)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @Html.Partial("Paginacao", Model)
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}
