@using DWM.Models.Repositories
@model System.Web.Mvc.PagedList<AssociadoViewModel>
@{
    Layout = null;
}
@if (Model != null)
{
    
    <div class="row Scroll">
        <div class="col-md-12 column">
            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer; padding: 0px">
                <caption></caption>
                <thead style="background-color: #fff1a5">
                    <tr>
                        <th>ID</th>
                        <th>Torre</th>
                        <th>Unidade</th>
                        <th>Nome</th>
                        <th>Email 1</th>
                        <th style="text-align: center">Dt.Nascimento</th>
                    </tr>
                </thead>
                @foreach (AssociadoViewModel med in Model)
                {
                    <tr>
                        <td style="width: 5%; font-size: x-small">
                            @med.associadoId
                        </td>
                        <td style="width: 20%; font-size: x-small">
                            @med.torreId
                        </td>
                        <td style="width: 20%; font-size: x-small">
                            @med.unidadeId
                        </td>
                        <td style="width: 25%; font-size: x-small">
                            @med.nome
                        </td>
                        <td style="width: 20%; font-size: x-small">
                            @med.email1
                        </td>
                        <td style="width: 10%; font-size: x-small; text-align: center">
                            @*(@med.dt_nascimento != null ?  @med.dt_nascimento.Value.ToString("dd/MM/yyyy") : "")*@
                            @if (@med.dt_nascimento.HasValue)
                            {
                                @med.dt_nascimento.Value.ToString("dd/MM/yyyy")    
                            }
                            
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @Html.Partial("Paginacao", Model)
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}

<script type="text/javascript">
    $("#contador").val('@Model.Count');
</script>