@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model DWM.Models.Repositories.DocFolderViewModel
@{
    ViewBag.Title = new App_Dominio.Security.EmpresaSecurity<App_Dominio.Entidades.SecurityContext>().getEmpresa().nome;
}
@using (Html.BeginForm("Delete", "Folder", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(info => info.docFolderId)
    @Html.HiddenFor(info => info.descricao)
    @Html.HiddenFor(info => info.ind_fixo)
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Pastas de documentos - <small class="text-white">Ex: Atas, Contratos, Regimento, etc.</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <p>
                            Exclusão de Pastas de Documentos
                        </p> <small>Pastas que serão utilizadas para guardar os documentos da empresa. Não será permitido excluir pastas com documentos dentro.</small>
                    </blockquote>
                </div>
                <div class="col-md-12">
                    <div class="form-group" style="margin-top: 20px">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin-top: 20px">
                        @Html.LabelFor(m => m.descricao, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.descricao, new { @class = "form-control input-sm", @disabled = "disable" })<br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8 col-xs-6 col-sm-6">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Excluir",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "Folder",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
                <div class="col-md-offset-4 hidden-sm hidden-xs">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>
}



