@model System.Web.Mvc.PagedList<DWM.Models.Repositories.CidadeViewModel>
@{
    Layout = null;
}

@if (Model != null)
{
    <div class="row Scroll" style="margin-top: -15px">
        <div class="col-md-12" style="padding-right: 0px;">
            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer">
                <caption></caption>
                <thead style="background-color: #fff1a5">
                    <tr>
                        <th>Descrição</th>
                    </tr>
                </thead>
                @foreach (DWM.Models.Repositories.CidadeViewModel cid in Model)
                {
                    <tr onclick="Move('@cid.cidadeId', '@cid.nome')">
                        <td>
                            <div>
                                @cid.nome
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @Html.Partial("Paginacao", Model)
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}


