@using Sindemed.Models.Repositories
@using App_Dominio.Repositories
@model Sindemed.Models.Repositories.NaoLocalizadoCorreioViewModel
@{
    ViewBag.Title = "Sindmed";
}
@using (Html.BeginForm("Delete", "NaoLocalizadoCorreio", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(info => info.correioId)
    @Html.HiddenFor(info => info.descricao)
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Motivos de endereços não localizados pelos correios  <small>Utilizado nas entregas de correspondências aos associados</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <p>
                            Exclusão de Motivos
                        </p> <small>Informar a descrição fornecida pelos Correios quando o carteiro não encontra o endereço do associado.</small>
                    </blockquote>
                </div>
                <div class="col-md-12">
                    <div class="form-group" style="margin-top: 20px">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group" style="margin-top: 20px">
                        @Html.LabelFor(m => m.descricao, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.descricao, new { @class = "form-control input-sm", @disabled = "disable", @style = "width: 450%" })<br />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.codigo, new { @class = "col-md-2 control-label" })
                        <div class="col-md-2">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.codigo, new { @class = "form-control input-sm", @disabled = "disable" })<br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Excluir",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "NaoLocalizadoCorreio",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
                <div class="col-md-offset-4">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>
}


